/* General Rules  Start*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
:root {
    font-size: 100%;
    --mainColor: #10cab7;
    --secondaryColor: #2c4755;
    --lightMainColor: rgba(24, 182, 166, 0.3);
    --headerHight: 59.4px;
    --sectionPadding: 4rem;
    --sectionBg: #F6F6F6;
}
body {
    font-family: 'Cairo', sans-serif;
}
a {
    color: black;
    text-decoration: none;
}
a:visited,
a:hover {
    color: black;
}
ul {
    list-style-type: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0% auto;

}
/*small screens*/
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/*medium screens*/
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/*large screens*/
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
.section-heading {
    text-align: center;
    margin-bottom: 4rem;
}
.section-heading h2 {
    color: var(--lightMainColor);
    font-size: 4rem;
}
.section-heading p {
    color: #797979;
    margin-top: -1.2rem;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: .1rem;
}
@media (min-width:768px) {
    .section-heading h2 {
        font-size: 6rem;
    }
    .section-heading p {
        margin-top: -1.6rem;
        font-size: 1.2rem;
    }
}
.with-padding {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}
.with-bg {
    background-color: var(--sectionBg);
}
/* General Rules  End*/

/* Header Styling Start */
header {
    position: fixed;
    background-color: white;
    left: 0%;
    top: 0%;
    width: 100%;
    padding: 10px 0%;
    box-shadow: 0 0 10px rgba(24, 182, 166, 0.2);
    height: var(--headerHight);
    z-index: 99;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container nav {
    display: none;
    position: absolute;
    z-index: 2000;
    top: 0%;
    right: 0%;
    width: 60%;
    background-color: var(--mainColor);
    height: 100vh;
}
header .container nav ul {
    margin-top: 4rem;
}
header .container nav ul li {
    padding: .5rem 0% .5rem 2rem;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
/* Animations on small screens */
@media (max-width:767px){
    header .container nav ul li:hover  {
        background-color: var(--lightMainColor);
        padding-left: 2.3rem;
    }
}

header .container nav ul li a {
    color: white;
    font-size: 1.1rem;
}
header .container .logo img{
    width: 90px;
}
header .container .smallScreen-menu {
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
header .container .smallScreen-menu span {
    height: 4px;
    background-color: var(--mainColor);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
header .container .smallScreen-menu span:nth-child(2) {
    width: 100%;
}
header .container .smallScreen-menu span:first-child {
    width: 60%;
    align-self: flex-end;
}
header .container .smallScreen-menu span:last-child {
    width: 60%;
}
header .container .smallScreen-menu:hover span:not(:nth-child(2)) {
    width: 100%;
}
header .container nav .close-smallScreen-menu {
    float: right;
    position: relative;
    margin: .5rem;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
header .container nav .close-smallScreen-menu::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
header .container nav .close-smallScreen-menu:hover::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
header .container nav .close-smallScreen-menu::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
header .container nav .close-smallScreen-menu:hover::after{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
header .container nav.show-menu {
    display: block;
}

@media (min-width:768px) {
    header .container nav {
        display: block;
        position: unset;
        width: auto;
        background-color: transparent;
        height: auto;
    }
    header .container .smallScreen-menu,
    header .container nav .close-smallScreen-menu {
        display: none;
    }

    header .container nav ul {
        margin-top: 0%;
        display: flex;
        justify-content: flex-end;
    }
    header .container nav ul li {
        position: relative;
        padding: .2rem 0% .2rem 2rem;
    }
    header .container nav ul li::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 0%;
        left: 2rem;
        top: -2px;
        background-color: var(--mainColor);
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
}
    header .container nav ul li:hover::before {
        width: calc(100% - 2rem);
    }
    header .container nav ul li a {
        color: rgb(22, 172, 157);
        font-size: 1.2rem;
    }
}
/* Header Styling End */

/* Hero Section Styling Start */
.hero {
    position: relative;
    margin-top: var(--headerHight);
    height: calc(100vh - var(--headerHight));
}
.hero::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / .4);
}
.hero video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hero .content{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero .content h1 {
    color: var(--mainColor);
    font-size: 3rem;
    margin-bottom: 1rem;
}
.hero .content p {
    line-height: 1.6;
    font-size: 1.1rem;
    color: white;
}
/* Hero Section Styling End */

/* presentation Section Styling Start */
.presentation .container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 3rem;
}
.presentation .container .box {
    text-align: center;
}
.presentation .container .box i {
    color: var(--mainColor);
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.presentation .container .box h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.presentation .container .box p {
    line-height: 2;
}
/* presentation Section Styling End */

/* Services Section Styling Start */
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 2rem;
}
.services .container .illustration {
    display: none;
}
.services .container  .box {
    text-align: center;
}
.services .container .box i {
    color: var(--mainColor);
    font-size: 3rem;
    margin-bottom: 1rem;
}
.services .container .box h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.services .container  .box p {
    line-height: 1.6;
    color: #444;
}
@media (min-width: 768px) {
    .services .container {
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        gap: 2rem 3rem;
    }
    .services .container .box {
        text-align: left;
        position: relative;
        padding-left: 4rem;
        
    }
    .services .container  .box i {
        position: absolute;
        left: 0%;
        font-size: 2.5rem;
    }
}
@media (min-width: 992px) {
    .services .container {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,auto);
        gap: 2rem 3rem;
    }
    .services .container .illustration {
        grid-column: 3;
        grid-row: 1/span 2;
        display: block;
        position: relative;
        height: 100%;
        width: fit-content;
        margin-left: 2rem;
    }
    .services .container .illustration::before {
        content: "";
        position: absolute;
        height: calc(100% + 100px);
        width: 100px;
        top: -50px;
        right: -50px;
        background-color: #2C4755;
        z-index: -1;
    }
    .services .container .illustration img {
        width: 250px;
    }
    
}
/* Services Section Styling End */

/* Portfolio Section Styling Start */
.portfolio .container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
}
.portfolio .container .box {
    background-color: white;
}
.portfolio .container .box img {
    width: 100%;
}
.portfolio .container .box .content {
    padding: 1rem;
}
.portfolio .container .box .content h3 {
    margin-bottom: 1rem;
}
.portfolio .container .box .content p {
    line-height: 1.6;
    color: #777777;
}
/* Portfolio Section Styling End */

/* About Section Styling Start */
.about .container {
    text-align: center;
}
.about .container .image {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.about .container .image img {
    width: 250px;
}
.about .container .first-p {
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 1.6;
}
.about .container hr {
    width: 300px;
    margin: 0 auto 2rem;
    background-color: var(--mainColor);
    height: 2px;
    border: none;
} 
.about .container .second-p {
    color: #777;
    line-height: 1.6;
}
@media (min-width:768px) {
    .about .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .about .container .image {
        position: relative;
        width: fit-content;
        padding-left: 4rem;
    }
    .about .container .image::before {
        content: "";
        position: absolute;
        height: calc(100% + 60px);
        width: 100px;
        top: -30px;
        left: 40px;
        background-color: #eee;
        z-index: -1;
    }
    .about .container .image::after {
        content: "";
        position: absolute;
        height: 80%;
        width:100px;
        top: -30px;
        right: -130px;
        border-left-style: solid;
        border-bottom-style: solid;
        border-left-width: 70px;
        border-left-color:  var(--mainColor);
        border-bottom-width: 80px;
        border-bottom-color:  var(--mainColor);
        z-index: -1;
    }
    .about .container .desc {
        text-align: left;
    }
    .about .container .desc hr {
        margin-inline: 0%;
        margin: 0 0 4rem;
    }
    .about .container .first-p {
        margin-bottom: 4rem;
        line-height: 2;
    }
    .about .container .second-p {
        line-height: 2;
    }
}
/* About Section Styling End */

/* Contact Us Section Start */
.contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.contact .container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contact .container form input {
    margin-bottom: 1.5rem;
    height: 4rem;
    padding-left: 2rem;
    border: 1px solid #AAA;
}
.contact .container form textarea {
    margin-bottom: 1.5rem;
    padding: 1rem .5rem 1rem 2rem;
    border: 1px solid #AAA;
}
.contact .container form input[type="submit"] {
    width: fit-content;
    padding: .5rem 1rem;
    align-self: flex-end;
    background-color: #19c8fa;
    color: white;
    border: none;
}
.contact .container .contact-infos .tel {
    margin-bottom: 3rem;
    text-align: center;
}
.contact .container .contact-infos .tel h3 {
    margin-bottom: 1rem;
}
.contact .container .contact-infos .tel p:first-of-type {
    margin-bottom: 1rem;
}
.contact .container .contact-infos .address {
    line-height: 2;
    text-align: center;
}
@media (min-width:768px) {
    .contact .container {
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }
    .contact .container form {
        order: -1;
        flex: 1;
    }
    .contact .container .contact-infos {
        align-self: flex-start;
        flex: 1;
    }
}
/* Contact Us Section End */


/* Footer Styling Start */
footer {
    background-color: var(--secondaryColor);
    padding: 2rem;
    text-align: center;
    color: white;
}
footer p {
    font-size: 1.2rem;
    letter-spacing: .1rem;
}
footer p span  {
    color: var(--mainColor);

}
/* Footer Styling End */